name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels, 'deploy-test')) }}

    runs-on: crazypokemondev-runner
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle caches
        uses: gradle/actions/setup-gradle@v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew build
      - name: Upload Plugin
        uses: actions/upload-artifact@v4
        with:
          name: UnoRebuilt Plugin
          path: build/libs/*-all.jar
          if-no-files-found: error
      - name: Upload Resource Pack
        uses: actions/upload-artifact@v4
        with:
          name: UnoRebuilt Resource Pack
          path: resource_pack/**

  deploy:
    needs:
      - build

    if: ${{ github.event_name == 'push' }}

    runs-on: crazypokemondev-runner
    environment: mctest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: UnoRebuilt Plugin
          path: artifact

      - name: Set up SSH key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST_PUBLIC_KEY: ${{ vars.SSH_HOST_PUBLIC_KEY }}
        run: |
          mkdir -p ~/.ssh
          touch ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          echo $SSH_HOST_PUBLIC_KEY >> ~/.ssh/known_hosts
          cat << EOF >> ~/.ssh/config
          Host flommc
            HashKnownHosts no
          EOF
      - name: Upload plugin to server
        run: scp artifact/*.jar mctest@flommc:~/paper-1.21.10/plugins/
      - name: Restart server
        run: ssh mctest@flommc 'screen -dmS "STOP" ~/paper-1.21.10/stop.sh'
